@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  html {
    @apply font-sans antialiased;
  }

  body {
    @apply w-full;
  }
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}